ul.social-network
{
    padding: 0;
}

ul.social-network li
{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa
{
    font-size: 35pt;
    color: black;
    padding: 10px;
}

.fa-linkedin-square:hover
{
    color: white;
}

.fa-id-card:hover
{
    color: white;
}

.fa-github-square:hover
{
    color: white;
}